/*---------------------------------------
 *                                      *
 *       Add Your Custom CSS Here       *
 *                                      *
 ---------------------------------------*/

#header-holder.main-header .bg-animation {
    background-image: linear-gradient(150deg, #1F4A8A, #122837);
}

#header-holder.main-header #top-content .big-title span {
    color: #ed9000;
}

#header-holder.main-header #top-content p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.75;
    margin: 25px 0 25px;
}

.logo-holder .logo {
    background-image: url(../images/da-manager-logo.png);
    height: 35px !important;
    width: 175px !important;
}

#features .bg-color {
    background-color: #eaeff9;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transform: skewY(-10deg) scaleY(0.7);
    -moz-transform: skewY(-10deg) scaleY(0.7);
    -ms-transform: skewY(-10deg) scaleY(0.7);
    transform: skewY(-10deg) scaleY(0.7);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    z-index: -1;
}

#apps .apps-holder .app-details div[class^="app-details"] .app-link a {
    font-size: 12px;
    margin: 0;
    padding: 12px 20px;
}

#info .info-text {
    line-height: 1.75;
}

.info-details-holder .info-details {
    top: 40px;
}

.pricing-box.pricing-unity .pricing-content .pricing-link a {
    font-size: 14px;
}

#team {
    padding: 0;
}

#team .person-box .person-name {
    margin-bottom: 15px;
}

.ybtn {
    border: 2px solid transparent !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700 !important;
    letter-spacing: 1.5px;
    margin: 15px 0;
    padding: 15px 20px;
}

.ybtn:not(:last-child) {
    margin-right: 15px;
}

.ybtn-accent-color {
    background: #ed9000 !important;
    border-color: #ed9000 !important;
}

#pricing .bg-color {
    background-color: #eaeff9;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transform: skewY(-10deg) scaleY(0.7);
    -moz-transform: skewY(-10deg) scaleY(0.7);
    -ms-transform: skewY(-10deg) scaleY(0.7);
    transform: skewY(-10deg) scaleY(0.7);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    z-index: -1;
}
